<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entidades.Properties.Settings.Conexion_bn" connectionString="Data Source=JULIETA\MSSQLSERVER01;Initial Catalog=Padron;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>